*{
    margin: 0;
    padding: 0; 
}
.game-board{
    position: relative;
    margin: 25%;
}

.square{
    border: 1px solid #ccc;
    color: #eee;
    background-color: #eee;
    width: 30px;
    height: 30px;
    position: absolute;
    text-align: center;
}